<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    {% block head %} {% endblock %}
  </head>
  <body>
    <nav>{% block title %} {% endblock %}</nav>
    {% block body %} {% endblock %}
  </body>
</html>
