{% extends 'base.html' %}

{% block head %}
    <title>Editar Produtos</title>
{% endblock %}

{% block title %}
    <h1>Editar Produtos</h1>
{% endblock %}

{% block body %}
    <form action="/editar-produtos" method="POST">
        <label for="sku">SKU do Produto</label>
        <br>
        <input type="text" id="sku" required>
        <br>
        <label for="name">Nome do Produto</label>
        <br>
        <input type="text" id="name" required>
        <br>
        <label for="desc">Description</label>
        <br>
        <input type="text" id="desc" required>
        <br>
        <label for="price">Price</label>
        <br>
        <input type="number" id="price" required>
        <br>
        <input type="submit" value="submit">
    </form>    
{% endblock %}
