{% extends 'base.html' %}

{% block head %}
    <title>Gerir Fornecedores</title>
{% endblock %}

{% block title %}
    <h1>Gerir Fornecedores</h1>
{% endblock %}

{% block body %}
    <div class="management-grid">
        <div class="elements">
            {% if not suppliers %}
                <h2>Não existem fornecedores.</h2>
            {% endif %}
            {% for supplier in suppliers %}
                <form action="/gerir-fornecedores/{{ supplier.id }}/delete" method="POST">
                    <label>
                        Fornecedor nº {{ supplier.id }}{% if supplier.name %}, {{ supplier.name }} {% endif %}
                    </label>
                    <input id="delete-{{ supplier.id }}" type="submit" value="Apagar" onclick="return confirm('Esta ação vai remover permanentemente o fornecedor {{ supplier.id }} e todas as suas dependências, deseja prosseguir?');">
                </form>
            {% endfor %}
        </div>
        <div class="add-form">
            <h2>Novo Fornecedor</h2>
            <form action="/gerir-fornecedores/add" method="POST">
                <label for="tin">TIN</label>
                <br>
                <input id="tin" type="number" name="tin" required>
                <br>
                <label for="name">Nome (Opcional)</label>
                <br>
                <input id="name" type="text" name="name">
                <br>
                <label for="address">Morada (Opcional)</label>
                <br>
                <input id="address" type="text" name="address">
                <br>
                <label for="address">SKU (Opcional)</label>
                <br>
                <input id="sku" type="text" name="sku">
                <br>
                <input id="submit" type="submit" value="Adicionar">
            </form>    
        </div>
    </div>
{% endblock %}