{% extends 'base.html' %}

{% block head %}
    <title>Gerir Produtos</title>
{% endblock %}

{% block title %}
    <h1>Gerir Produtos</h1>
{% endblock %}

{% block body %}
    <script src="{{url_for('static', filename='javascript/gerir-produtos.js')}}" defer></script>
    <form action="/gerir-clientes" method="POST">
        <input type="radio" id="delete" name="add-or-del">
        <label for="delete">Apagar Produto</label>
        <input type="radio" id="add" name="add-or-del">
        <label for="add">Adicionar Produto</label>
        <br>
    </form>
{% endblock %}
