nav {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #000100;
  border-bottom: 1px solid #cecccf;
  margin-bottom: 10rem;
}

.link-button {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 8rem;
  border: 2px solid #cecccf;
  border-radius: 1rem;
  height: 8rem;
  width: 18rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.link-button:hover {
  border: 2px solid #000100;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 18rem);
  justify-items: center;
  justify-content: center;
  gap: 2rem;
}
